@model OgrenciMVC.Models.EntityFramework.TBLNOTLAR
@{
    ViewBag.Title = "NotGetir";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!---<h2>NotGetir</h2>----->

@using (Html.BeginForm("Guncelle", "Notlar", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.OGRID)
        @Html.TextBoxFor(m => m.OGRID, new { @class = "form-control" })

    </div>



    <div class="form-group">
        @Html.LabelFor(m => m.SINAV1)
        @Html.TextBoxFor(m => m.SINAV1, new { @class = "form-control" })

    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.SINAV2)
        @Html.TextBoxFor(m => m.SINAV2, new { @class = "form-control" })

    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.SINAV3)
        @Html.TextBoxFor(m => m.SINAV3, new { @class = "form-control" })

    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.PROJE)
        @Html.TextBoxFor(m => m.PROJE, new { @Value= @ViewBag.ort , @class = "form-control" })

    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ORTALAMA)
        @Html.TextBoxFor(m => m.ORTALAMA, new { @class = "form-control" })

    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.DURUM)
        @Html.TextBoxFor(m => m.DURUM, new { @class = "form-control" })

    </div>




    //Not Güncelleme.2 kod satırları

    @Html.HiddenFor(m => m.NOTID)
    <div>
        <!--name=islem, islem class1'deki islem'-->
        <button type="submit" name="islem" value="HESAPLA" class="btn btn-default">Ortalama Hesapla</button>
        <br />
        <br />



        <button type="submit" name="islem" value="NOTGUNCELLE" class="btn btn-info"> Güncelle

        </button>

        @*Sonuç=@ViewBag.ort*@
    </div>


    @*<div style="margin-top:15px">
        <button class="btn btn-default">Hesapla</button>

    </div>


    <div style="margin-top:15px">
        <button class="btn btn-info">Güncelle</button>

    </div>*@
}